[Unit]
Description=GigaVision capture systemd service using %i

[Service]
Type=simple
WorkingDirectory=/home/Gigavision
ExecStart=/usr/bin/python3 pantiltzoomlib.py configs/%H.yml
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target