{% extends "base.html" %}
{% set active_page = "Panorama Configuration files" %}
{% block body %}
    <div class="container-fluid">
        <div class="form-group col-md-4">
            <form method="GET">
                <input class="form-control" type="text" name="filename" id="filename" placeholder="Pano config filename">

                <button class='form-control' type="submit" formaction="/save-pano">Save local</button>
            </form>
        </div>
        <div class="form-group col-md-4">
            <form method="GET">
                <input class="form-control" type="text" name="filename" id="filename" placeholder="Camera config filename">

                <button class='form-control' type="submit" formaction="/save-camera">Save local</button>
            </form>
        </div>
        <div class="form-group col-md-4">
            <form method="GET">
                <input class="form-control" type="text" name="filename" id="filename" placeholder="PTZ config filename">

                <button class='form-control' type="submit" formaction="/save-ptz">Save local</button>
            </form>

        </div>
        <div class="col-md-12">
            <hr/>
        </div>
        <div id="pano-config-file-read" style="word-break: break-all;" class="col-md-4">
                {% for key,field in session['pano_config'].items() %}
                    <strong>{{ key }}: </strong>{{ field }}<br>
                {% endfor %}
        </div>
        <div id="cam-config-file-read" style="word-break: break-all;" class="col-md-4">
                {% for key,field in session['camera_config'].items() %}
                    <strong>{{ key }}: </strong>{{ field }}<br>
                {% endfor %}
        </div>
        <div id="ptz-config-file-read" style="word-break: break-all;" class="col-md-4">
                {% for key,field in session['ptz_config'].items() %}
                    <strong>{{ key }}: </strong>{{ field }}<br>
                {% endfor %}
        </div>
    </div>
{% endblock %}