{% extends "base.html" %}
{% set active_page = "Panorama Configuration files" %}
{% block body %}
    <div class="container-fluid">
        <div id="file-upload-form" class="col-md-4">

            <form method="post" enctype="multipart/form-data">
                <div class="form-group col-md-3">
                    <input type="submit" class="btn btn-success form-control" value="Upload"/>
                </div>
                <input type="file" name="config-file"/>
                <br>
            </form>
        </div>
    <div class="col-md-12" ><hr/></div>
        <div id="config-file-edit-form" class="col-md-12">
            <form method="POST">
                {% for key,field in pano_config_dict.items() %}
                    <div class="form-group">
                        <label for="forma-{{ loop.index }}">{{ key }}</label>
                        {% if field is number %}
                            <input type="number" class="form-control" id="forma-{{ loop.index }}"
                                   placeholder="{{ session[key] }}">

                        {% elif field is string %}
                            <input type="text" class="form-control" id="forma-{{ loop.index }}"
                                   placeholder="{{ session[key] }}">

                        {% elif field|string in ["True","False"] %}
                            <input type="checkbox" class="form-control" id="forma-{{ loop.index }}"
                                   placeholder="{{ session[key] }}">

                        {% endif %}
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>

{% endblock %}